streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
faiss-cpu
langchain_google_genai
fastapi
uvicorn
langchain-community
python-multipart
python-docx
python-pptx
pandas
openpyxl
pdf2image
pytesseract
pillow
pymupdf 