streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
langchain_google_genai
fastapi
uvicorn
langchain-community
python-multipart
python-docx
python-pptx
pandas
openpyxl
pdf2image
pytesseract
pillow
pymupdf 
langchain-chroma>=0.1.2
google-genai
pandas
